
@{
    ViewData["Title"] = "Listofambulance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Ambulance</h1>
<br />

<div>
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <a asp-controller="Ambulance" asp-action="Addambulance" class="btn btn-outline-success btn-fw">Add Ambulance</a><br /><br />

                    <table class="table table-bordered table-responsive  table-hover">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>AmbulanceNo</th>
                            <th>AmbulanceStatus</th>
                            <th>AmbulanceDriverName</th>

                        </tr>
                        @foreach (AmbulanceModel item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.AmbulanceNo</td>
                                <td>@item.AmbulanceStatus</td>
                                <td>@item.AmbulanceDriverName</td>

                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


